@model ForgotPasswordViewModel

    @{
        Layout = null;
    }
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>


    <body style="margin: 10px; background:#f2f2f2; padding:10px;">
        <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="margin-bottom:15px; margin-top:15px;">
            <tbody>
                <tr>
                         <td height="80" valign="middle" style="padding-left: 5px;">
                    <img src="http://static.gi2c.org/images/easyblog_images/596/b2ap3_thumbnail_image002_20141028-121628_1.jpg" width="411" height="68" alt="Logo" title="Logo" style="border:0px !important;"></td>
                     </tr>

                <tr>
                    <td bgcolor="#ffffff" style="border: 1px solid #e5e5e5; padding: 15px;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td align="top">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td height="30" valign="top" align="left" style="font-family: arial; font-size: 18px; color: #1ab394;">Password Reset</td>
                                                </tr>
                                                <tr>
                                                    <td height="30" valign="middle" align="left" style="font-family:arial; font-size:13px; color: #676a6c;">Dear <strong>@Model.Name</strong>,</td>
                                                </tr>
                                                <tr>
                                                    <td valign="middle" align="left" style="font-family:arial; font-size:12px; color: #676a6c; line-height: 17px;">You are receiving this message because you requested a new password on Gamification Engine for your account.</td>
                                                </tr>
                                                <tr>
                                                    <td height="25" style="border-bottom: 1px solid #E0E0E0;">&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <!-- details -->
                                <tr>
                                    <td valign="top" style="padding-top:5px;">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td height="30" style="font-family:arial; font-size:12px; color:#444444; line-height: 17px;">You have following account(s). Click the respective link to reset your password.</td>
                                                </tr>
                                                <tr>
                                                    <td valign="middle" align="left" style="font-family:arial; font-size:12px; color:#444444; line-height: 17px;">
                                                       
                                                            <table width="100%" style="background: #F2F2F2; border-bottom:1px solid #fff" cellspacing="5">
                                                                <tbody>
                                                                    <tr><td height="30" valign="middle" align="left" style="font-family:arial; font-size:12px; color:#444444; padding-left:10px;">Username:<span style="font-family:arial; font-weight:bold; color:#444444;">@Model.Username</span> </td></tr>
                                                                    
                                                                    <tr>
                                                                        <td height="30" valign="middle" align="left" style="font-family:arial; font-size:12px; color:#444444; padding-left:10px;">  <a style="text-decoration: underline !important; font-weight: bold; color: #1ab394 !important;" href="@Model.Url">Reset Password</a></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td height="25" style="border-bottom: 1px solid #E0E0E0;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td valign="middle" align="left" style="font-family:arial; font-size:12px; color:#444444;padding-top:20px; line-height:22px">
                                        Regards,<br>
                                        <strong>Sports Management Team</strong>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>


    </body>
</html>
