

@model LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Log in";
}


<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sports Management::Forgot Password</title>

    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/css/font-awesome.min.css" rel="stylesheet" />

    <link href="/Content/css/animate.css" rel="stylesheet">
    <link href="/Content/css/style.css" rel="stylesheet">
    <link href="/Content/css/parallax.css" rel="stylesheet">


    <!-- Mainly scripts -->

    <script src="/Content/js/jquery-2.1.3.min.js"></script>
    <script src="/Content/js/bootstrap.min.js"></script>
</head>

<body class="">
    <div class="parallax">
        <div id="container" class="container">

            <div style="position:relative;">
                <div class="middle-box text-center loginscreen  animated fadeInDown">
                    <div>
                        <h3 style="font-size: 20px;">Forgot Password</h3>
                        <p>
                            Please provide your email address to get the new password.
                        </p>
                        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "m-t", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummaryCustom()

                            <div class="form-group">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Your username" })
                            </div>
                            <button type="submit" class="btn block full-width m-b" style="background-color: #2196F3;border-color: #2196F3;color: white;">Forgot Password</button>

                        }

                    </div>

                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        $('.alert-success').delay(5000).fadeOut(400);
        $('form').submit(function () {
            $('input:submit', this).click(function () {
                return false;
            });
            $('button:submit', this).click(function () {
                return false;
            });
        });

        $(document).ready(function () {
            $('input:text').blur(function () {
                var txtId = this.id;
                var el = $("#" + txtId)[0];

                var refinedVal = $(el).val().replace(/[<>]+/g, "");
                $($(el)[0]).val(refinedVal);

            });
            $('textarea').blur(function () {
                var textarea = $("#" + this.id)[0];
                var refinTextAreaVal = $(textarea).val().replace(/[<>]+/g, "");
                $($(textarea)[0]).val(refinTextAreaVal);
            });
            $('input:password').blur(function () {
                var txtId = this.id;
                var el = $("#" + txtId)[0];

                var refinedVal = $(el).val().replace(/[<>]+/g, "");
                $($(el)[0]).val(refinedVal);

            });

            $('.alert-success').delay(5000).fadeOut(400);

        });
    </script>
</body>


</html>

