@model IEnumerable<Venues>

@{
    ViewBag.Title = "Venue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (WebApp.HelperClass.Common.CurrentUser.IsSuperAdmin)
{
    <a href="/Venue/Detail">Add Venue</a>
}

@if (Model != null && Model.Count() > 0)
{

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">
                    <b>Venue Name</b>
                </div>
                <div class="col-md-2">
                    <b>Address</b>
                </div>
            </div>
        </div>
    </div>

    foreach (var item in Model)
    {
        @Html.HiddenFor(model => item.VenueId)
        if (WebApp.HelperClass.Common.CurrentUser.IsSuperAdmin)
        {
            <a href="/Venue/Detail/@item.VenueId" class="btn btn-outline pull-right animated tada">Edit</a>
            <a href="/Venue/Delete/@item.VenueId" class="btn btn-outline pull-right animated tada" onclick="return confirm('Are you sure you want to delete?');">Delete</a>
        }
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        @Html.DisplayFor(model => item.VenueName)
                    </div>
                    <div class="col-md-2">
                        @Html.DisplayFor(model => item.Address)
                    </div>
                </div>
            </div>
        </div>
    }
}